/* quick reset */

* {
  margin: 0;
  padding: 0;
  border: none;
}

.hidden { display: none; }

body {
  background-color: #fff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.type { margin-top: 12px; }

.type-wrapper {
  width: 1024px;
  height: 683px;
  background-image: url(../images/stadium.jpg);
  border: thin solid black;
  margin: 0 auto;
  overflow: hidden;

  position: relative;
}

svg { width: 100%; }

.project-header { margin: 30px 0 10px; font-size: 2em; }

.project-header, .project-subhead { text-align: center; }

.controls { text-align: center; }
.controls button {
  padding: 20px;
  cursor: pointer;
  margin-top: 1.5em;
  border-radius: 1em;
}

#typelayout path { opacity: 0; }

/* #is, #this, #the, #real, #life, #?, #is, #this, #just, #fantasy, #?, #caught, #in,#a, #landslide, #no, #escape, #from, #reality { animation: fadewords 0.2s forwards; } */

.text-anim { animation: fadewords 0.2s forwards; }
/* .container-turn { animation: turncontainer 0.2s linear 0.5s forwards,
turnagain 0.3s linear 1s forwards, resetcontainer 1s linear 4s forwards; } */
.zoom-freddie { animation: zoomfreddie 2.5s forwards; }

#is { animation-delay: 1.15s; }
#this { animation-delay: 1.25s; }
#the { animation-delay: 1.75s; }
#real { animation-delay: 2.5s; }
#life { animation-delay: 3.5s; }
#_ { animation-delay: 3.5s; }
#is-2 { animation-delay: 7s; }
#this-2 { animation-delay: 7.15s; }
#just { animation-delay: 8.15s; }
#fantasy { animation-delay: 8.5s;}
#_2 { animation-delay: 8.5s; }
#caught { animation-delay: 13s; }
#in, #a{ animation-delay: 13.5s;}
#landslide { animation-delay: 14s; }
#no { animation-delay: 18.25s; }
#escape { animation-delay: 18.45s; }
#from{ animation-delay: 19s; }
#reality{ animation-delay: 19.25s; }


#typelayout {
  animation: turncontainer 0.2s linear 1s forwards;
  animation-delay: 23s;
} 

.freddie-svg {
  position: absolute;
  top: 285px;
  left: 400px;
  height: 300px;

  opacity: 0;

  animation-delay: 0.5s;
}

@keyframes fadewords {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes zoomfreddie {
  0% { opacity: 0; }

  10% { opacity: 1; }
  80% { transform: scale(1.8); opacity: 1; top: 139px; left: 255px; }
  100% {  opacity: 1; top: 260px; left: 420px; transform: scale(1);}
}

@keyframes turncontainer {
  100% {
    transform: rotate(360deg);
  }
}


@keyframes turnagain {
  0% { transform: rotate(-90deg) scale(1.5) translate(31%, -3%); }
  100% { transform: rotate(0deg) scale(1.2) translate(-16%, 11%); }
}

@keyframes resetcontainer {
  0% { transform: rotate(0deg) scale(1.4) translate(-13%, 11%); }
  100% { transform: scale(1) translate(0, 0); }
}
